.promotionList {
    text-decoration: none;
    font-size: 14px;
    color: #444444;
    
    a {
        text-decoration: none;
        font-size: 24px;
        color: #036dbe;
    }

    .nextDrawingDate {
        margin-top: 10px;
    }

    .promotionListItem {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}