$breakpoint: 480px;

$list-heading-color: #036dbe;
$list-a-hover-color: #000000;
$list-p-color: #444444;
$list-shadow-color: #555555;

$item-gradient-color1: #cccccc;
$item-gradient-color2: #ffffff;
$item-heading-color: #000000;
$item-h2-color: #000000;
$item-p-color: #444444;
$item-th-bgcolor: #666666;
$item-th-color: #ffffff;
$item-td-bgcolor: #cccccc;
$item-tr-separator-color: #888888;
$item-td-separator-color: #ffffff;
$item-highlight-color: #b20000;
