<div id="promo-list" class="row">
    <div class="col-xs-6 offset-3">
        <div class="promo-item-container" *ngFor="let promotion of promotions; let i = index">
            <img class="image-shadow img img-fluid" src="assets/{{ promotion.promo_image_url }}" />
            <a routerLink="/promo/{{ i }}">
                <h1 class="promo-item-name">{{ promotion.promotion_name }}</h1>
            </a>
            <p class="promo-item-additional">
                {{ promotion.summary }}
            </p>
            <p class="promo-item-additional">
                Next Drawing Date: {{ promotionService.getNextDrawDate(i) | date: dateFormat }}
            </p>
        </div>
    </div>
</div>